<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %X{username} %C{1} - %m\n" />
		</layout>
	</appender>

	<appender name="rolling-file-appender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/goracc-engine.log" />
		<param name="MaxFileSize" value="4192KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %C{1} %X{username} - %m\n" />
		</layout>
	</appender>
	
	<appender name="fonctionnal" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/fonctionnal.log" />
		<param name="MaxFileSize" value="4192KB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="level" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %C{1} %X{username} - %m\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<logger name="org.springframework.beans">
		<level value="error" />
	</logger>

	<logger name="org.springframework.binding">
		<level value="error" />
	</logger>

	<logger name="org.springframework.jdbc">
		<level value="error" />
	</logger>

	<logger name="org.springframework.transaction">
		<level value="error" />
	</logger>

	<logger name="org.springframework.orm">
		<level value="error" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<logger name="org.springframework.security">
		<level value="error" />
	</logger>

	<logger name="org.springframework.webflow">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>

	<category name="org.hibernate">
		<priority value="error" />
	</category>

	<category name="org.jbpm.identity">
		<priority value="debug" />
	</category>

	<category name="org.hibernate.engine.StatefulPersistenceContext">
		<priority value="error" />
	</category>
	
	<category name="org.apache.cxf">
		<priority value="debug" />
	</category>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console-appender" />
		<appender-ref ref="rolling-file-appender" />
	</root>

</log4j:configuration>